.container1{
    font-size: 1em;
    line-height: 50px;
    font-size: 3ch;
    border: 1px solid black;
    background-color: wheat;
}

.container2{
    font-size: 0.5cm;
    line-height: 50px;
    font-size: 3ch;
    background-color: yellow;
    border: 1px solid red;
}

.container3{
    font-size: 1em;
    line-height: 50pc;
    font-size: 3ch;
    background-color: violet;
    border: 1px solid black;
}

.box1{
    /*Long (margin-top, margin-bottom, margin-left, margin-right)*/
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    /*Long (padding-top, padding-bottom, padding-left, padding-right)*/
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: soild;
    border-color: red;
    border-width: 5px;
    border-radius: 25px;
    position: static;
    height: auto;
    background-color: tomato;
}

.box2{
    /*Short (margin: <top> <right> <bottom> <left>)*/
    margin: 25px 50px 75px 100px;
    /*Short (padding: <top> <right> <bottom> <left>)*/
    padding: 25px 50px 75px 100px;
    border-color: yellow;
    position: relative;
    min-width: 150px;
    top: 40px; left: 40px;
}

.box3{
    max-width: 150px;
    margin: 5% auto;
    padding: 25px 50px 75px 100px;
    border-color: blue;
}

.box4{
    color:red;
    max-width: 150px;
}

.text1{
    /*test text color*/
    color: blue;
    display: block;
}

.text2{
    /*test text decoration*/
    text-decoration: underline;
    display: inline;
}

.text3{
    /*test text-align*/
    text-align: left;
    display: flex;
}

a:hover {
    color: hotpink;
}

a:active {
    background-color: white;
}

.flex_container1{
    display:flex;
    flex-flow: column wrap;
    background-color: red;
}

.flex_container1>div{
    text-align: center;
    flex-direction: row;
    color: blue;
    width: 40px;
    margin: 30px;
    line-height: 75px;
    font-size: 30px;
}

.flex_container2{
    display:flex;
    flex-flow: column;
    background-color: yellowgreen;
    font-size: 30px;
}

.flex_container2>div{
    text-align: center;
    flex-direction: row;
    color: violet;
    width: 200px;
    margin: 30px;
    line-height: 75px;
    font-size: 30px;
}

.grid_container1{
    display:grid;
    grid-template-columns: 40px 50px 50px 40px;
    grid-row-start: auto;
    background-color: tomato;
    font-size: 30px;
}

.grid_container1>div{
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

.dl{
    background-color: red;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

dl>div{
    background: #FAF;
    padding: auto auto auto auto;
}

input[type="checkbox"]:checked{
    background: #FAF;
}

@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
}

@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
}

dd{
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    margin: auto;
    padding: auto auto auto auto;
}

dt{
    background:azure;
    position: relative;
    padding: 0%;
    margin: 0em;
    color: black;
}

dd+dd{
    background-color:aqua;
}

#abc{
    background-color:cadetblue;
}

*{
    background-color: white;
}

h1,h3{
    color: blue;
}

div p{
    background-color: white;
}

div > p{
    background-color: white;
}

div + p{
    background-color: white;
}

div ~ p{
    background-color: white;
}

p.text2{
    background-color:white;
}


.vw{
    width: 10vw;
    font-size: 3ch;
    border: 1px solid black;
}

.ch{
    font-size: 3ch;
    border: 1px solid black;
}